{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row book-items d-flex flex-wrap p-3">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Books</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <td class="align-middle">{{ author.id }}</td>
                        <td class="align-middle">{{ author.name }}</td>
                        <td class="align-middle">
                            {% for book in author.books %}
                                <span class="badge rounded-pill bg-light text-dark">{{ book.title }}</span>
                            {% endfor %}
                        </td>
                        <td class="align-middle"><a href="/authors/edit/{{author.id}}" class="btn btn-primary">Edit</a></td>
                    </tr>
                {% else %}
                    <p>No authors have been found.</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
