{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="card" style=" max-width: 800px; margin: 40px auto; ">
        <div class="card-body">
            <h5 class="card-title">{{ author.name }}</h5>
            {% if author.books is not empty %}
            <p>Author of Books:</p>
            <div>
                {% for book in author.books %}
                    <span class="badge rounded-pill bg-light text-dark" onclick="location.href='/books/{{ book.id }}'">{{ book.title }}</span>
                {% endfor %}
            </div>
            {% else %}
                <p>No books found</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
